
.mainContainer{
    min-width: 0; /* Allow it to shrink below its content */
    max-width: 100%;
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
    flex-shrink: 1;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}

.subContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 5px;
    max-width: 100%; 
}

.subContainer > * {
    max-width: 100%; 
}


.middleSection{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: .5rem;
}

.topOfMiddleSection{
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.salesBox,
.revenueBox,
.expensesBox{
    height: 10rem;
    width: 15rem;
    border-radius: 5px;
    padding: .5rem;    
    margin: 0 .5rem;
    background-color: aliceblue;
    color: #090c9b;
}


h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 span{
    font-size: 1.2rem;
}

.rightSection{
    margin-right: .5rem;
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.reportWrapper,
.recentSalesWrapper,
.topSellingWrapper{
    background-color: aliceblue;
    color: #090c9b;
    height: 20rem;
    border-radius: 5px;
    padding: .5rem;
}

.inventoryReportWrapper,
.budgetReportWrapper,
.websiteTrafficWrapper{
    height: 25rem;
    background-color: aliceblue;
    color: #090c9b;
    border-radius: 5px;
    padding: .5rem;
}

.auditLogs{
    height: 10rem;
    background-color: aliceblue;
    color: #090c9b;
    border-radius: 5px;
    padding: .5rem;
}

.subBoxWrapper{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 80%;
}

.subIcon{
    color: #090c9b;
    height: 1rem;
    background-color: lightblue;
    padding: 1rem;
    width: 10%;
    border-radius: 50%;
}


.subBoxWrapper > div p{
    font-size: 1.5rem;
}

.customerBoxWrapper{
    background-color: aliceblue;
    border-radius: 5px;
    padding: .5rem;
    color: #090c9b;
    display: flex;
    flex-direction: column;
}

.customerBoxWrapper > div{
    display: flex;
}

.userIcon{
    width: 10%;
    height: 60%;
    background-color: lightblue;
    border-radius: 50%;
    padding: 1rem;
}

.customerSubBoxWrapper{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    height: 80%;
}


.customerSubBoxWrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    width: 30%;
    height: 10rem;
}

.customerListWrapper{
    width: 50%;
    border: 2px solid #090c9b;
}


.customerBioWapper{
    background-color: #090c9b;
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;
}

.customerBioWapper p{
    color: white;
    width: 50%;
    text-align: center;
}

.subscriberWrapper{
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.subscriberWrapper ul{
    display: flex;
    flex-direction: column;

}

.subscriberWrapper ul li{
    list-style: none;
    border-bottom: 1px solid #090c9b;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: .2rem 0;
    width: 100%;
}

.saleCustomerHeader,
.topSellingHeader{
    color: #090c9b;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.saleCustomerHeader p,
.orderdetailsWrapper p{
    width: 20%;
}


.allOrdersWrapper{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 15rem;
    padding-top: .5rem;
}

.orderdetailsWrapper{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-top: .3rem;
}

.orderdetailsWrapper p{
    display: flex;
    justify-content: cneter;
    align-items: center;
    padding-left: .4rem;
    width: 20%;
}

.orderdetailsWrapper > :first-child {
    font-size: .8rem;
}

.orderdetailsWrapper > :nth-child(2) {
    display: flex; 
    flex-wrap: wrap;
}

.productImageAndPriceWrapper{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    row-gap: .3rem;
    width: 20rem;
    max-height: 5rem;
    padding-left: 2rem;
    padding-right: 3rem;
    background-color: #b0b0f1;

}

.topSalesImageWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topItemWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid black;
}

.reportWrapper div,
.inventoryReportWrapper div,
.budgetReportWrapper div,
.websiteTrafficWrapper div{
    height: 90%;
    z-index: 1;
}


.topItemWrapper > p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.priceWrapper p{
    width: 6rem;
    display: flex;
    justify-content: flex-start;
}

.priceAmount{
    width: max-content;;
}

@media(max-width: 1000px){
    .subContainer{
        display: flex;
        flex-direction: column;
    }
}


@media(max-width:1185px) {
    .topOfMiddleSection h2{
        font-size: 1rem;
    }

    .subBoxWrapper > div p{
        font-size: 1rem;
    }
}

@media(max-width:955px) {
    .subIcon{
        width: 9%;
        height: 1rem;
    }

    .subBoxWrapper{
        column-gap: 0;
    }

    .expensesBox .subBoxWrapper div {
        margin-top: -1.5rem;
    }
}


@media(max-width: 1190px){
    .subscriberWrapper ul li span{
        font-size: .7rem;
    }
}

@media(545px <= width <= 700px){
    .saleCustomerHeader,
    .topSellingHeader{
        font-size: 1rem;
    }

    .productImageAndPriceWrapper{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;
        row-gap: .2rem;
        width: 20rem;
        max-height: 5rem;
        padding-left: 2rem;
        padding-right: 3rem;
    }


    .orderdetailsWrapper p{
        width: max-content;
        flex-wrap: wrap;
    }

    .topSalesImageWrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-size: .8rem;
    }
    

}


@media(300px <= width <= 545px){
    .saleCustomerHeader,
    .topSellingHeader{
        font-size: 1rem;
    }

    .productImageAndPriceWrapper{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;
        row-gap: .2rem;
        width: 20rem;
        max-height: 5rem;
        padding-left: 1rem;
    }


    .orderdetailsWrapper p{
        width: max-content;
        flex-wrap: wrap;
    }

    .topSalesImageWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

}


@media(300px <= width <= 485px){
    .topOfMiddleSection{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .topOfMiddleSection div{
        width: 30%;
    }

    .subBoxWrapper div span{
        font-size: .8rem;
        display: flex;
        flex-wrap: wrap;
    }

    .subBoxWrapper div .priceAmount{
        font-size: .9rem;
        width: max-content;
    }

    .topOfMiddleSection div {
    }
}

.topOfMiddleSection div {
    width: max-content;
}