
.mainContainer{
    width: 100%;
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}

.subContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 5px;
}

.middleSection{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: .5rem;
}

.topOfMiddleSection{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.salesBox,
.revenueBox,
.expensesBox{
    height: 10rem;
    width: 15rem;
    border-radius: 5px;
    padding: .5rem;    
    margin: 0 .5rem;
    background-color: aliceblue;
    color: #090c9b;
}


h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 span{
    font-size: 1.2rem;
}

.rightSection{
    margin-right: .5rem;
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.reportWrapper,
.recentSalesWrapper,
.topSellingWrapper{
    background-color: aliceblue;
    color: #090c9b;
    height: 20rem;
    border-radius: 5px;
    padding: .5rem;
}

.inventoryReportWrapper,
.budgetReportWrapper,
.websiteTrafficWrapper{
    height: 25rem;
    background-color: aliceblue;
    color: #090c9b;
    border-radius: 5px;
    padding: .5rem;
}

.auditLogs{
    height: 10rem;
    background-color: aliceblue;
    color: #090c9b;
    border-radius: 5px;
    padding: .5rem;
}

.subBoxWrapper{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 80%;
}

.subIcon{
    color: #090c9b;
    height: 1rem;
    background-color: lightblue;
    padding: 1rem;
    width: 10%;
    border-radius: 50%;
}

.subBoxWrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

.customerBoxWrapper{
    background-color: aliceblue;
    border-radius: 5px;
    padding: .5rem;
    color: #090c9b;
    display: flex;
    flex-direction: column;
}

.customerBoxWrapper > div{
    display: flex;
}

.userIcon{
    width: 10%;
    height: 60%;
    background-color: lightblue;
    border-radius: 50%;
    padding: 1rem;
}

.customerSubBoxWrapper{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    height: 80%;
}

.customersBox{
    width: 50%;
    height: 10rem;
    padding: 1rem;
}

.customerSubBoxWrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}

.customerListWrapper{
    width: 50%;
}

.customerBioWapper{
    background-color: #090c9b;
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;
}

.customerBioWapper p{
    color: white;
    width: 50%;
    text-align: center;
}

.subscriberWrapper{
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.subscriberWrapper ul{
    display: flex;
    flex-direction: column;

}

.subscriberWrapper ul li{
    list-style: none;
    border-bottom: 1px solid WHITE;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin: .2rem 0;
}

.saleCustomerHeader,
.topSellingHeader{
    color: #090c9b;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.saleCustomerHeader p,
.orderdetailsWrapper p{
    width: 7rem;
}


.allOrdersWrapper{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 15rem;
    padding-top: .5rem;
}

.orderdetailsWrapper{
    display: flex;
    justify-content: space-between;
    border: .5px solid black;
}

.orderdetailsWrapper p{
    display: flex;
    justify-content: cneter;
    align-items: center;
    padding-left: .4rem;
}

.orderdetailsWrapper > :first-child {
    font-size: .8rem;
}

.productImageAndPriceWrapper{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    row-gap: .3rem;
    width: 20rem;
    max-height: 5rem;
    padding-left: 2rem;
    margin: .5rem;
}

.topSalesImageWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .5px solid black;
}

.topItemWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid black;
}

.reportWrapper div,
.inventoryReportWrapper div,
.budgetReportWrapper div{
    height: 90%;
    z-index: 1;
}
