.mainContainer{
    width: 100%;
    height: calc(100dvh - 4rem);
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
    padding-bottom: 1rem;
    overflow: hidden;
    padding-bottom: 5rem;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}

.searchContainer form{
    display: flex;
    align-items: flex-start;
    position: relative; 
    /* margin-top: .5rem; */
    flex-wrap: wrap;
    row-gap: .5rem;
}

.searchContainer form input{
    height: 2rem;
    width: 10rem;
}

.searchContainer select{
    height: 2rem;
    width: 9rem;
    margin-right: .5rem;
}

.searchContainer form button{
    top: -1rem;
    width: 4rem;
    margin-left: .2rem;
}

.subContainer{
    display: grid;
    grid-template-columns: 40% 55%;
    height: 100%;
    justify-content: center;
    column-gap: 2rem;
}

.editWrapper{
    display: grid;
    grid-template-rows: 30% 64% ;
    row-gap: 1rem;
}

.editWrapper * > h2{
    display: flex;
    justify-content: center;
    color: #090c9b;

}

.productWrapper{
    background-color: aliceblue;
    padding: .3rem;
    height: 97%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.promotionalWrapper,
.editFromContainer{
    background-color: aliceblue;
}

.promotionalWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editFromContainer form fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    padding-left: 26%;
    padding-top: .5rem;
}

.editFromContainer form fieldset label{
    display: flex;
    width: max-content;
}

.editFromContainer form div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: .5rem;
    align-items: center;
}

.productImageAndInputWrapper{
    display: flex;
    column-gap: 5rem;
    height: max-content;
}



