.mainContainer{
    width: 100%;
    height: calc(100dvh - 4rem);
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
    padding-bottom: 1rem;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}

.searchContainer form{
    display: flex;
    align-items: flex-start;
    position: relative; 
    /* margin-top: .5rem; */
    flex-wrap: wrap;
    row-gap: .5rem;
}

.searchContainer form input{
    height: 2rem;
    width: 10rem;
}

.searchContainer select{
    height: 2rem;
    width: 9rem;
    margin-right: .5rem;
}

.searchContainer form button{
    top: -1rem;
    width: 4rem;
    margin-left: .2rem;
}

.subContainer{
    display: grid;
    grid-template-columns: 40% 55%;
    height: 100%;
    justify-content: center;
    column-gap: 2rem;
}

.editWrapper{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    row-gap: 1rem;
    padding: .5rem 0;
}

.editWrapper * > h2{
    display: flex;
    justify-content: center;
    color: #090c9b;

}

.productWrapper{
    background-color: aliceblue;
    padding: .3rem;
}

.promotionalWrapper,
.salesProductWrapper,
.lowStockProductsWrapper{
    background-color: aliceblue;
}

.productImageAndInputWrapper{
    display: flex;
    column-gap: 5rem;
}

.productImageWrapper{
    border: 2px solid gold;
    width: 25%;
}

.promotionalWrapper form,
.salesProductWrapper form{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-top: .5rem;
}

