:root {
    --border-size: 2px;
}

.mainContainer {
    width: 100%;
    height: calc(100dvh - 4rem); 
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
    overflow-y: hidden;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}

.addProductWrapper{
    padding: 1rem;
    color: #090c9b;
    background-color: aliceblue;
    height: max-content;
    width: 50%;
}

.addProductWrapper h2{
    margin-bottom: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.subContainer{
    display: flex;
    column-gap: 2rem;
    height: 100%;
    padding: 1rem;
}

.productListWrapper{
    background-color: aliceblue;
    /* width: 50%; */
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    min-width: 0;
    max-width: 50%;
}

.addProductWrapper form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10%;
    row-gap: 1rem;
}

fieldset{
    border: none;
}
input{
    margin-left: .5rem;
    padding-left: .2rem;
}

fieldset label{
    display: flex;
    width: 10%;
    column-gap: 1rem;
    border: none;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    row-gap: .5rem;
}

form button,
.putOnSaleBttn{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #090c9b ;
    color: white;
    cursor: pointer;
    position: relative;
    align-self: center;
    margin-top: 1rem;
}

form button::before,
.putOnSaleBttn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid #090c9b;
}

form button:hover::before,
form button:focus::before,
.putOnSaleBttn:hover::before,
.putOnSaleBttn:focus::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}

.discountBttn{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #3092e2 ;
    color: white;
    cursor: pointer;
    position: relative;
    align-self: center;
    margin-top: 1rem;
}

.discountBttn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid #3092e2;
}

.discountBttn:hover::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}

.deleteBttn{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: #e32a2a ;
    color: white;
    cursor: pointer;
    position: relative;
    align-self: center;
    margin-top: 1rem;
}

.deleteBttn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid #e32a2a;
}

.deleteBttn:hover::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}

.allProductsHeaderWrapper{
    margin-bottom: 1rem;
}

.allProductsHeaderWrapper h2{
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}

.imageWrapper{
    display: flex;
    column-gap: 1rem;
}

.priceTitleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    align-items: flex-start;
    position: relative;
}

.imageWrapper > :nth-child(2) :nth-child(1)  {
    font-weight: bold;
}

.opitionsWrapper{
    display: flex;
    column-gap: 1rem;
}

.productsWrapper{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid black;
    min-width: 0;
    max-width: 100%;
    flex-wrap: wrap;
}

.productsWrapper >{
    position: absolute;
    left: 0;
}

.onSaleWrapper{
    background-color: red;
    width: max-content;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 20%;
    text-align: center;
}

.onsaleAndBttnWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(width <= 750px){
    .addProductWrapper form fieldset label{
        display: flex;
        flex-direction: column;
        max-width: max-content;
        flex-wrap: wrap;
    }

    .addProductWrapper{
        max-width:50% ;
        min-width: 0;
    }

    .opitionsWrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media(300px <= width <= 670px){
    .addProductWrapper form > label input{
        width: 90%
    }

    .addProductWrapper form fieldset label input{
        border: 2px solid black;
        display: none;
    }
}