*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    display: grid;
    grid-template-columns: 24% 75%;
    transition: grid-template-columns 1s ease;
    width: 100%;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    position: fixed;
    width: 99%;
    margin-top: 0;
    background-color: white;
}

.sidebar {
    transform: translateX(-400px); 
    transition: transform 1s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
    top: 4rem;
    position: absolute;
    height: 100dvh;
}

.showSidebarWrapper {
    transform: translateX(0);
    position: fixed;
    width: 23%;
    height: 100dvh;
}

.hideSidebar {
    grid-template-columns: 0% 1fr; 
}


.barIcon{
    cursor: pointer;
}


.notificationAndProfileWrapper{
    display: flex;
    column-gap: 1rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
}

.profileContainer{
    display: flex;
    column-gap: .2rem;
}

.profilePicWrapper{
    background-color: rgb(197, 197, 238);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
}

.usernameWrapper{
    font-size: 1rem;
    display: flex;
    column-gap: .2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bellIcon,
.envelope{
    cursor: pointer;
    font-size: 1.5rem;
}

.bellIconWrapper,
.enelopeWrapper{
    position: relative;
}

.bellIconWrapper span{
    position: absolute;
    top: -.5rem;
    right: -.2rem;
    font-size: .9rem;
    color: white;
    background-color: blue;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enelopeWrapper span{
    position: absolute;
    top: -.5rem;
    right: -.2rem;
    font-size: .9rem;
    color: white;
    background-color: green;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customDialog{
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    row-gap: 1rem;
    top: 2.7rem;
    width: max-content;
    margin-left: 1rem;
    background-color: rgb(156, 190, 241);
}

.iconsAndPicWrapper{
    display: flex;
    flex-direction: column;
}

.iconsAndPicWrapper div{
    border-top: 1px solid black;
    padding: .5rem ;
    cursor: pointer;
}

.iconsAndPicWrapper div:hover{
    background-color: skyblue;
    color: white;
}