.mainContainer{
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}

.mainContainer h1{
    color: #090c9b;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.selectionContainer{
    padding: 1rem;
}

.listItems{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.listItems li ul li{
    padding: 0 .5rem;
    cursor: pointer;
    border-radius: 5px;
}

.listItems li ul li:hover{
    background-color: skyblue;
}

.listItems li ul a{
    text-decoration: none;
    color: #090c9b;
}

.selectionContainer ul li{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.listHeaderWrapper{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
}

.listHeaderWrapper:hover{
    background-color: skyblue;
}

.listHeaderWrapper a{
    color: #090c9b;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: .5rem;
}

.icon{
    color: black;
    margin-right: .5rem;
}

.angleRightIcon{
    background-color: #cecff1;
    border-radius: 50%;
    width: 1rem;
    transform-origin: center;
    transition: transform 400ms ease;
    position: absolute;
    right: .5rem;
}

.listHeaderWrapper:hover .angleRightIcon {
    transform: rotate(90deg);
    transition: transform 400ms ease;
}

.active { 
    background-color: skyblue; 
}


.proManagementList,
.orderManagementList,
.analiticsList,
.notifyAndAlerts{
    display: none;
}

.ShowProManagementList,
.showOrderManagementList,
.showAnaliticsList,
.showNotifyAndAlertList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    row-gap: .3rem;
    animation: slideIn 500ms ease-in-out forwards;
}

@keyframes slideIn{
    0%{opacity: 0; margin-top: -1rem;}
    100%{opacity: 1; margin-top: 0;}
}