.mainContainer{
    width: 100%;
    height: calc(100dvh - 4rem);
    grid-column: 2;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #8bc9fc;
    padding-bottom: 1rem;
    align-items: center;
}

.mainContainer h1{
    margin: 0 0 1rem 1rem;
    color: #72195a;
}


table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: darkblue;
}

th{
    border: 2px solid white;
    padding: .5rem 0;
}

td{
    border: 2px solid white;
    padding: .3rem;
    text-align: center;
}

tbody tr td a {
    text-decoration: none;
    color: black
}

tbody tr:hover,
tbody tr td a:hover {
    background-color: white;
    color: blue;
}