:root {
    --border-size: 2px;
}

.heroSection{
    background-image: url("/images/silvershoppingbag.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40rem;
    position: relative;
}

.heroSection button{
    width: 8rem;
    height: 3rem;
    background-color: rgb(30, 156, 190);
    position: absolute;
    bottom: 10rem;
    right: 20rem;
    border: none;
    font-size: 1.3rem;
}


.heroSection button:hover{
    color: white;
    cursor: pointer;
}

.heroSection button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: var(--border-size) solid rgb(30, 156, 190);
}

.heroSection button:hover::before,
.heroSection button:focus::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}

.introWrapper{
    text-align: center;
    margin-top: 1.6rem;
}

.introWrapper p{
    font-size: 1.5rem;
}

main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;   
}

main h2{
    text-align: center;
    margin: 2.5rem 0;
}

hr{
    width: 4rem;
    border: .5px solid black;
    align-self: center;
    margin-bottom: 4rem;
}

.collectionsWrapper{
    height: 80dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
}

.collectionsWrapper a {
    width: 30%;
    height: 45%;
}


.collectiosItemWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.collectiosItemWrapper p{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: white;
    text-align: center;
}

.collectiosItemWrapper img{
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

.collectiosItemWrapper:hover img{
    scale: 1.1;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.randomPorductContainer{
    display: flex;
    column-gap: 2rem;
    height: 30rem;
    justify-content: space-between;
    margin: 3rem 3rem;
}

.randomPorductContainer a{
    overflow: hidden;
}

.randomPorductContainer a img{
    transition: all 400ms ease-in-out;
}

.randomPorductContainer a img:hover{
    border: 1px solid black;
    transition: all 400ms ease-in-out;
    scale: 1.2;
}

.randomProductPriceAndDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.productPrice{
    font-size: 1.5rem;
}

.shippingMethod{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.randomProductPriceAndDetails hr{
    margin: 1rem 0 2rem 0;
}


.addtoCartWrapper{
    display: flex;
    width: max-content;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    column-gap: .5rem;
    margin-bottom: 1rem;
}

.addtoCartWrapper a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.addtoCartWrapper a button{
    width: 7rem;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgb(30, 156, 190);
    color: white;
    cursor: pointer;
    position: relative;
    align-self: center;
}

.addtoCartWrapper a button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid rgb(30, 156, 190);
}

.addtoCartWrapper a button:hover::before,
.addtoCartWrapper a button:hover::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}

.addtoCartWrapper :nth-child(2){
    color: black;
}

.addtoCartWrapper :nth-child(2):hover {
    text-decoration: underline;
    cursor: pointer;
}

.fullDetailsWrapper a {
    margin-top: 1rem;
    display: flex;
    column-gap: .2rem;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 110%;
}

.fullDetailsWrapper a:hover {
    color: rgb(30, 156, 190);
}

.rightArrowIcon {
    transition: transform 400ms ease-in-out;
} 

.fullDetailsWrapper a:hover .rightArrowIcon {
    transform: translateX(0.5rem); 
}


.socialContainer{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.socialContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    column-gap: .5rem;
    margin-top: 1rem;
}

.socialContainer div:hover{
    color: rgb(30, 156, 190);
}

.peopleSayingWrapper{
    margin-top: 4rem;
    height: 35rem;
    display: flex;
    column-gap: 1rem;
    padding: 2rem 0;
}

.peopleSayingWrapper :first-child img{
    width: 100%;
    height: 100%;
}

.peopleSayingWrapper > *{
    width: 50%;
}

.peopleSayingWrapper :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    color: rgb(30, 156, 190);
}

.subscribeWrapper{
    margin-top: 3rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(119, 174, 189);
}

.subscribeWrapperHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeWrapperHeader p{
    margin-top: -2rem;
    text-align: center;
}

.subscribeWrapper hr{
    margin: 2rem 0;
}

.subscribeWrapperInputWrapper{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.subscribeWrapperInputWrapper input{
    width: 30%;
    height: 20%;
}

.subscribeWrapperInputWrapper button{
    width: 10%;
    height: 20%;
    border-radius: 5px;
    border: none;
    background-color: rgb(30, 156, 190);
    color: white;
    cursor: pointer;
    position: relative;
    align-self: center;
}

.subscribeWrapperInputWrapper button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid rgb(30, 156, 190);
}

.subscribeWrapperInputWrapper button:hover::before,
.subscribeWrapperInputWrapper button:hover::before{
    top: calc(var(--border-size) * -2);
    left: calc(2px * -2);
    right: calc(2px * -2);
    bottom: calc(2px * -2);
    border-radius: 5px;
}


@media(max-width: 500px) {
    .heroSection button{
        right: 10rem;
    }
}

@media(max-width: 980px) {
    .collectionsWrapper{
        height: max-content;
        padding: .5rem;
        display: flex;
        row-gap: .5rem;
    }

    .collectiosItemWrapper {
        width: 10rem;
        height: 10rem;
    }
    
    .collectiosItemWrapper img{
        width: 10rem;
        height: 10rem;
    }

    .collectiosItemWrapper p{
        font-size: 1.3rem;
        color: white;
        background-color: rgb(135, 206, 235, 0.6);
        padding: .5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:800px) {
    .collectionsWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }
}

@media(max-width:660px) {
    .collectionsWrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: max-content;
    }
}

@media(max-width:927px ) {
    .randomPorductContainer a img{
        width: 100%;
        height: 60%;
    }
}

@media(max-width:680px ) {
    .randomPorductContainer{
        width: 100%;
    }

    .randomPorductContainer a img{
        width: 40%;
        height: 40%;
        position: absolute;
        left: 0;
    }

    
    .subscribeWrapperInputWrapper input{
        width: 45%;
        height: 20%;
    }
}

@media(max-width:815px) {
    .peopleSayingWrapper{
        height: 15rem;
    }

    .peopleSayingWrapper >  :nth-child(2) p{
        font-size: 1.5rem ;
    }

    
    .subscribeWrapperInputWrapper input{
        width: 40%;
        height: 20%;
    }
}

@media(max-width: 450px) {
    .peopleSayingWrapper{
        height: 10rem;
    }

    .peopleSayingWrapper >  :nth-child(2) p{
        font-size: 1rem ;
    }
}

@media(max-width:1122px) {
    .subscribeWrapperInputWrapper button{
        font-size: .7rem;
        width: 15%;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:762px) {
    .subscribeWrapperInputWrapper button{
        font-size: .7rem;
        width: 20%;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:650px) {
    .subscribeWrapperInputWrapper button{
        font-size: .5rem;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscribeWrapperInputWrapper input{
        width:60%;
    }
}

@media(max-width:550px){
    .subscribeWrapperInputWrapper button{
        font-size: .5rem;
        width: 45%;
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
